In [1]:
import pandas as pd

DATA CLEANING AND FEATURE ENGINEERING

In [2]:
df = pd.read_csv('Data/Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [3]:
df.shape

(4888, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [5]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [6]:
print("Percentage of missing values for each column : \n \n ")

missing_percent = df.isnull().mean()*100
missing_percent = missing_percent.round(2).astype(str) + '%' 
missing_percent

Percentage of missing values for each column :

CustomerID                   0.0%
ProdTaken                    0.0%
Age                         4.62%
TypeofContact               0.51%
CityTier                     0.0%
DurationOfPitch             5.14%
Occupation                   0.0%
Gender                       0.0%
NumberOfPersonVisiting       0.0%
NumberOfFollowups           0.92%
ProductPitched               0.0%
PreferredPropertyStar       0.53%
MaritalStatus                0.0%
NumberOfTrips               2.86%
Passport                     0.0%
PitchSatisfactionScore       0.0%
OwnCar                       0.0%
NumberOfChildrenVisiting    1.35%
Designation                  0.0%
MonthlyIncome               4.77%
dtype: object

In [7]:
cat_cols = df.select_dtypes(include = ['object']).columns

cat_cols

Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [8]:
for col in cat_cols:
    print(f"\n Value counts for column: {col}",'\n')
    print(df[col].value_counts())

 Value counts for column: TypeofContact

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

 Value counts for column: Occupation

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

 Value counts for column: Gender

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

 Value counts for column: ProductPitched

ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64

 Value counts for column: MaritalStatus

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

 Value counts for column: Designation

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [9]:
df['Gender'] = df['Gender'].replace('Fe Male' , 'Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single' , 'Unmarried')

In [10]:
print(df['Gender'].value_counts() , '\n')
print(df['MaritalStatus'].value_counts())

Gender
Male      2916
Female    1972
Name: count, dtype: int64

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [11]:
median_cols = ['Age' , 'DurationOfPitch' , 'NumberOfFollowups' , 'PreferredPropertyStar' , 'NumberOfTrips' , 'NumberOfChildrenVisiting' ,  'MonthlyIncome']

mode_col = ['TypeofContact']

for col in median_cols :
    df[col] = df[col].fillna(df[col].median())

for col in mode_col :
    df[col] = df[col].fillna(df[col].mode()[0])

In [12]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [13]:
df.dtypes

CustomerID                    int64
ProdTaken                     int64
Age                         float64
TypeofContact                object
CityTier                      int64
DurationOfPitch             float64
Occupation                   object
Gender                       object
NumberOfPersonVisiting        int64
NumberOfFollowups           float64
ProductPitched               object
PreferredPropertyStar       float64
MaritalStatus                object
NumberOfTrips               float64
Passport                      int64
PitchSatisfactionScore        int64
OwnCar                        int64
NumberOfChildrenVisiting    float64
Designation                  object
MonthlyIncome               float64
dtype: object

In [14]:
int_cols = ['Age' , 'DurationOfPitch' , 'NumberOfFollowups' , 'PreferredPropertyStar' , 'NumberOfTrips' , 'MonthlyIncome']

for col in int_cols :
    df[col] = df[col].astype(int)

In [15]:
df.dtypes

CustomerID                    int64
ProdTaken                     int64
Age                           int64
TypeofContact                object
CityTier                      int64
DurationOfPitch               int64
Occupation                   object
Gender                       object
NumberOfPersonVisiting        int64
NumberOfFollowups             int64
ProductPitched               object
PreferredPropertyStar         int64
MaritalStatus                object
NumberOfTrips                 int64
Passport                      int64
PitchSatisfactionScore        int64
OwnCar                        int64
NumberOfChildrenVisiting    float64
Designation                  object
MonthlyIncome                 int64
dtype: object

FEATURE ENGINEERING

In [16]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [17]:
df.drop('CustomerID' , axis = 1 , inplace = True)

In [18]:
df['TotalPersonVisting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']

df.drop(columns = ['NumberOfPersonVisiting' , 'NumberOfChildrenVisiting'] , axis = 1 , inplace = True)

df['TotalPersonVisting'] = df['TotalPersonVisting'].astype(int)

In [19]:
df.dtypes

ProdTaken                  int64
Age                        int64
TypeofContact             object
CityTier                   int64
DurationOfPitch            int64
Occupation                object
Gender                    object
NumberOfFollowups          int64
ProductPitched            object
PreferredPropertyStar      int64
MaritalStatus             object
NumberOfTrips              int64
Passport                   int64
PitchSatisfactionScore     int64
OwnCar                     int64
Designation               object
MonthlyIncome              int64
TotalPersonVisting         int64
dtype: object

In [20]:
num_cols = df.select_dtypes(exclude = 'object').columns

cat_cols = df.select_dtypes(include = 'object').columns

print("Numeric columns are : " , '\n' , num_cols , '\n')

print('Categorical columns are :' '\n' , cat_cols)

Numeric columns are :
 Index(['ProdTaken', 'Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome',
       'TotalPersonVisting'],
      dtype='object')

Categorical columns are :
 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [21]:
df.describe()

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,MonthlyIncome,TotalPersonVisting
count,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000,4888.000000
mean,0.188216,37.547259,1.654255,15.362930,3.711129,3.577946,3.229746,0.290917,3.078151,0.620295,23559.179419,4.089812
std,0.390925,9.104795,0.916583,8.316166,0.998271,0.797005,1.822769,0.454232,1.365792,0.485363,5257.862921,1.414617
min,0.000000,18.000000,1.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,1000.000000,1.000000
25%,0.000000,31.000000,1.000000,9.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,20485.000000,3.000000
50%,0.000000,36.000000,1.000000,13.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,22347.000000,4.000000
75%,0.000000,43.000000,3.000000,19.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,25424.750000,5.000000
max,1.000000,61.000000,3.000000,127.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,98678.000000,7.000000

In [22]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[col] < Q1 - 1.5 * IQR) | (df[col] > Q3 + 1.5 * IQR)]
    print(f'{col} → {len(outliers)} outliers')

ProdTaken → 920 outliers
Age → 0 outliers
CityTier → 0 outliers
DurationOfPitch → 112 outliers
NumberOfFollowups → 312 outliers
PreferredPropertyStar → 0 outliers
NumberOfTrips → 109 outliers
Passport → 0 outliers
PitchSatisfactionScore → 0 outliers
OwnCar → 0 outliers
MonthlyIncome → 375 outliers
TotalPersonVisting → 0 outliers

In [23]:
# CLIPPING 

(df['DurationOfPitch'] > 35).value_counts()

DurationOfPitch
False    4842
True       46
Name: count, dtype: int64

In [24]:
df['DurationOfPitch'] = df['DurationOfPitch'].clip(upper=35)

In [25]:
# REASONABLE AND NO CLIPPING REQUIRED

df['NumberOfFollowups'].value_counts()

NumberOfFollowups
4    2113
3    1466
5     768
2     229
1     176
6     136
Name: count, dtype: int64

In [26]:
df['NumberOfTrips'].value_counts()

NumberOfTrips
2     1464
3     1219
1      620
4      478
5      458
6      322
7      218
8      105
19       1
21       1
20       1
22       1
Name: count, dtype: int64

In [27]:
# CLIPPING 

df['NumberOfTrips'] = df['NumberOfTrips'].clip(upper = 8)

In [28]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalPersonVisting
0,1,41,Self Enquiry,3,6,Salaried,Female,3,Deluxe,3,Unmarried,1,1,2,1,Manager,20993,3
1,0,49,Company Invited,1,14,Salaried,Male,4,Deluxe,4,Divorced,2,0,3,1,Manager,20130,5
2,1,37,Self Enquiry,1,8,Free Lancer,Male,4,Basic,3,Unmarried,7,1,3,0,Executive,17090,3
3,0,33,Company Invited,1,9,Salaried,Female,3,Basic,3,Divorced,2,1,5,1,Executive,17909,3
4,0,36,Self Enquiry,1,8,Small Business,Male,3,Basic,4,Divorced,1,0,5,1,Executive,18468,2

SAVING THE CLEANED DATA TO CSV

In [29]:
df.to_csv('cleaned_Travel.csv' , index = False)

In [30]:
df.shape

(4888, 18)